/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    background-color: aquamarine;
    font-family: 'Roboto Flex', sans-serif;
    color: rgb(79, 46, 46);
}

.carousel-item img {
    height: 500px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the entire area */
    width: 100%; /* Ensure the image takes the full width */
  }