/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    background-color: aquamarine;
    font-family: 'Roboto Flex', sans-serif;
    color: rgb(79, 46, 46);
}

h1 {
    font-size: 3.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.intro {
    font-size:  1.5rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.carousel-item img {
    height: 80vh; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the entire area */
    width: 100%; /* Ensure the image takes the full width */
  }

  .carousel-caption {
    position: absolute;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background color with transparency */
    padding: 10px;
    border-radius: 5px;
  }


.text-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-center;
  }
  
.text-button-container .btn {
    align-self: flex-center;
    margin-top: 10px; /* Adjust as needed */
    margin-bottom: 10px;
  }

/* Media queries for responsive carousel images */
@media (max-width: 1200px) {
  .carousel-item img {
      height: 70vh;
  }
}

@media (max-width: 992px) {
  .carousel-item img {
      height: 60vh;
  }
}

@media (max-width: 768px) {
  .carousel-item img {
      height: 50vh;
  }
}

@media (max-width: 576px) {
  .carousel-item img {
      height: 40vh;
  }
}